<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Add new </p>
<p><a href="/celebrities/create">Create a Celeb</a></p>
<p><a href="/movies/create">Create a Movie</a></p>
<p>View all</p>
<p><a href="/celebrities/">View Celebs</a></p>
<p><a href="/movies/">View Movies</a></p>
