<h1>New Movie</h1>

<form action="/movies/create" method="POST">
    <label>Movie Name: 
        <input type="text" name="title"/>
    </label> </br>
    <label>Genre: 
        <input type="text" name="genre"/>
    </label></br>
    <label>Plot: 
        <textarea name="plot"/> </textarea>
    </label></br>
    <label>Cast: 
        <select name="cast" id="cast" multiple>

            <% allCelebrities.forEach(celebrity => { %>
                <option value="<%= celebrity._id %>"><%= celebrity.name %></option>
             
            <% }) %>

          </select>
    </label><br/>
    <button type="submit">Add New Movie</button>
</form>


